node_modules/*
!node_modules/.gitignore
build/*
!build/.gitignore
dist/*
!dist/.gitignore
coverage/*
!coverage/.gitignore
__pycache__/*
!__pycache__/.gitignore
engine/__pycache__/*
!engine/__pycache__/.gitignore
tests/__pycache__/*
!tests/__pycache__/.gitignore
tests/integration/__pycache__/*
!tests/integration/__pycache__/.gitignore
tests/unit/__pycache__/*
!tests/unit/__pycache__/.gitignore
tests/smoke/__pycache__/*
!tests/smoke/__pycache__/.gitignore
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.DS_Store
*.log
.env*
!.env.example
